{% extends "base.html" %}

{% set scripts = [
    'home.js'
] %}

{% set styles = [
    'style.css'
] %}

{%block title%} Home - Resume Builder {% endblock %}

{%block content%}
    <h1 style="padding-top: 10px;">Saved Resumes</h1>
    <button id="create-new" style="margin-left: 20px;">Create New Resume</button>
    <div id="resume-list"></div>
    <div class="modal fade" id="resumeModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Resume Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body" id="resumeContent">
                </div>
            </div>
        </div>
    </div>
{% endblock %}